<label class="event__temp">{{input type='number' value=event.temp focus-out='save'}}°C</label>

<span class="event__time">{{input value=event.time focus-out='save'}}</span>

<button class="event__remove" {{action 'remove'}}>X</button>
