<label>Temperature: {{input type="number" value=event.temp}}</label><br>
<label>Day: {{input type="number" value=event.day}}</label><br>
<label>Time: {{input value=event.time}}</label><br>

<button {{action 'remove'}}>Remove</button>
