<label class="event__temp">{{input type="number" value=event.temp}}°C</label>

<span class="event__time">{{input value=event.time}}</span>

<button class="event__remove" {{action 'remove'}}>X</button>
