{{#each list.schedules as |schedule|}}

  {{schedule-edit schedule=schedule onInsert='registerComponent' createNewEvent='createNewEvent' disallowAllEdits='disallowAllEdits'}}

{{/each}}

<div class="schedule__icon" {{action 'createNewSchedule'}}>

  +

</div>
