{{#each list.schedules as |schedule|}}

  {{schedule-edit schedule=schedule allowEdits=(is-equal schedule.id selectedSchedule.id) onInsert='registerComponent' onSelect='onScheduleSelect' createNewEvent='createNewEvent' disallowAllEdits='disallowAllEdits'}}

{{/each}}

{{!-- TODO: Make this a normal schedule-edit. --}}
<div class="schedule">

  <div class="schedule__icon" {{action 'createNewSchedule'}}>

    +

  </div>

</div>
