body {
  font-family: sans-serif;
}

.schedules,
.rooms,
.room__devices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.schedule,
.room,
.device {
  margin: 5px;
}

.schedule,
.room {
  min-width: 150px;
}

.schedule {
  height: 40px;
}

.schedule[editing=true],
.room[editing=true] {
  order:      1;
  flex-basis: 100%;
  height:     auto;
}

.schedule[editing=true] .schedule__icon,
.room[editing=true] .room__icon {
  border-width: 4px;
  border-style: double;
  margin:       5px;
}

.schedule[highlighted=true] .schedule__icon {
  border-width: 2px;
  border-color: blue;
}

.schedule[editing=true][highlighted=true] .schedule__icon {
  border-width: 6px;
}

.room[highlighted=false] .room__icon {
  opacity: 0.6;
}

.schedule__icon,
.room__icon,
.device {
  border:     1px solid black;
  text-align: center;
  padding:    10px;
}

.schedule__icon,
.room__icon {
  cursor:     pointer;
  height:     100%;
  box-sizing: border-box;
}

.schedule .room__icon {
  cursor: auto;
}

.schedule__events {
  position:   relative;
  display:    flex;
  width:      100%;
  height:     500px;
  overflow-x: auto;
}

.schedule__events__constraint {
  position: absolute;
  bottom: 0;
  width:  100%;
  height: 95%;
}

.events-day {
  flex:      1 0;
  min-width: 180px;
  height:    100%;
}

.events-day__label {
  width:      100%;
  height:     5%;
  text-align: center;
}

.events-day__events {
  position:       relative;
  box-sizing:     border-box;
  display:        flex;
  flex-direction: column;
  width:          100%;
  height:         95%;
  border:         1px solid black;
}

.event {
  position:         absolute;
  width:            100%;
  overflow:         hidden;
  border-top:       1px solid black;
  cursor:           move;
  background-color: white;
  text-align:       center;
}

.event input {
  width:      3em;
  text-align: center;
}

.event__temp {
  float: left;
}

.event__remove {
  float: right;
}

.room {
  height: 94px;
}

.device {
  flex:      1;
  min-width: 200px
}
